footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    box-shadow: 3px -7px 14px -6px rgba(0,0,0,0.69);
    -webkit-box-shadow: 3px -7px 14px -6px rgba(0,0,0,0.69);
    -moz-box-shadow: 3px -7px 14px -6px rgba(0,0,0,0.69);
}

p {
    padding: 2px;
}