<main>
    <div class="container">
        <div class="backgroundAboutUs"></div>
    
    <div class="info">
        <div class="infoAbout">
            <h1>Sobre</h1>
            <div class="aboutMe">
                <div class="img">
                    <img src="../../../assets/perfil.jpg" alt="">
                </div>
                <p>Projeto desenvolvido por Hiago Henrique Gomes, estudante da área de T.I aficionado por programação, tecnologia e geografia. O <span>COUNTRIES</span> INDEX, foi desenvolvido baseado no <a href="https://www.passportindex.org/" target="_blank"><span>Passport Index</span></a>, só que com bandeiras de países, com o intuido de mostrar informações sobre esses países de maneira fácil e rapida. Basta clicar na bandeira do país que gostaria e as informações irão aparecer para você! Faça um teste agora <a href="">clicando aqui!</a></p>
            </div>
        </div>
    </div>
    <div class="continentes"></div>

    </div>
</main>