<header>
    <a href=""><img src={{iconEarth}} alt="Earth Icon" width="50" height="50"></a>
    <div class="title"><a href=""><span>COUNTRIES</span> INDEX</a></div>
    <nav>
        <ul>
            <li><a href="" target="_blank" class="links">Inicio</a></li>
            <li><a href="https://hiagohgomes.github.io/Linktree/" target="_blank" class="links">Contato</a></li>
            <li><a href="https://github.com/HiagoHGomes/angular-Coutries-Index" target="_blank" class="links">Repositorio</a></li>
            <li><a href="" target="_blank" class="links">Sobre</a></li>
        </ul>
    </nav>
    <app-time></app-time>
</header>