<header>
    <a routerLink=""><img src={{iconEarth}} alt="Earth Icon" width="50" height="50"></a>
    <div class="title"><a routerLink=""><span>COUNTRIES</span> INDEX</a></div>
    <nav>
        <ul>
            <li><a routerLink="" class="links">Inicio</a></li>
            <li><a href="https://hiagohgomes.github.io/Linktree/" target="_blank" class="links">Contato</a></li>
            <li><a href="https://github.com/HiagoHGomes/angular-Coutries-Index" target="_blank" class="links">Repositorio</a></li>
            <li><a routerLink="about" class="links">Sobre</a></li>
        </ul>
    </nav>
    <app-time></app-time>
</header>