.flags{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin: 19px;
}

.countryInfo{
    background-color: rgba(94, 72, 232, 0.5);
    border-radius: 15px;
    padding: 6px;
    margin-bottom: 5px;
    transition: transform 0.6s, filter 0.6s;
}

.coutryName{
    color: #333;
}

.countryInfo:hover {
    transform: scale(1.5);

}