<main class="container">
    <div class="infoImg">
        <section class="rightSide">
            <img src={{item.flag}} alt={{item.alt}} width="520">
        </section>
        <section class="leftSide">
            <ul class="listaPrincipal">
                <li class="liPrincipal">
                    Nome: 
                    <div class="answers">{{item.CountryName}}</div>
                </li>
                <li class="liPrincipal">
                    Lema:
                    <div class="answers">{{item.lema}}</div>
                </li>
                <li class="liPrincipal">
                    Capital:
                    <div class="answers">{{item.capital}}</div>
                </li>
                <li class="liPrincipal">
                    Idioma:
                    <div class="answers">{{item.idioma}}</div>
                </li>
                <li class="liPrincipal">
                    Continente:
                    <div class="answers">{{item.continente}}</div>
                </li>
                <li class="liPrincipal">
                    {{item.posicaoPolitica}}
                    <div class="answers">{{item.presidente}}</div>
                </li>
                <li class="liPrincipal">
                    {{item.posicaoPolitica2}}
                    <div class="answers">{{item.vicePresidente}}</div>
                </li>
                <li class="liPrincipal">
                    População:
                    <div class="answers">{{item.populacao}}</div>
                </li>
                <li class="liPrincipal">
                    Independencia de qual país:
                    <div class="answers">{{item.independencia}}</div>
                </li>
                <li class="liPrincipal">
                    Proclamação da Independência:
                    <div class="answers">{{item.proclamacaoIndependencia}}</div>
                </li>
                <li class="liPrincipal">
                    {{item.divisaoTerritorio}}
                    <div class="answers">{{item.qtdEstados}}</div>
                </li>
                <li class="liPrincipal">
                    Área total:
                    <div class="answers">{{item.territorio}}</div>
                </li>
                <li class="liPrincipal">
                    {{item.maiorEstadoTrTitle}}
                    <div class="answers">{{item.maiorEstadoTr}}</div>
                </li>
                <li class="liPrincipal">
                    {{item.menorEstadoTrTitle}}
                    <div class="answers">{{item.menorEstadoTr}}</div>
                </li>
                <li class="liPrincipal">
                    {{item.maiorEstadoPlTitle}}
                    <div class="answers">{{item.maiorEstadoPl}}</div>
                </li>
                <li class="liPrincipal">
                    {{item.menorEstadoPlTitle}}
                    <div class="answers">{{item.menorEstadoPl}}</div>
                </li>
                <li class="liPrincipal">
                    Maior cidade em população:
                    <div class="answers">{{item.maiorCidadePl}}</div>
                </li>
                <li class="liPrincipal">
                    Maior cidade em territorio:
                    <div class="answers">{{item.maiorCidadeTr}} </div>
                </li>
                <li class="liPrincipal">
                    Fronteiras:
                    <ul>
                        <li><div class="answers">
                            {{item.fronteiras}}
                        </div></li>
                    </ul>
                </li>
                <li class="liPrincipal">
                    {{item.maravilhasDoMundoTitle}}
                    <div class="answers">
                        {{item.maravilhasDoMundo}} <br>
                        <img src={{item.imgMaravilhaDoMundo}} alt={{item.altMaravilhaDoMundo}} width="150" class="maravilhasDoMundo">
                    </div>
                </li>
                <li class="liPrincipal">
                    Posição no raking nos maiores países do mundo:
                    <div class="answers">{{item.maioresPaises}}</div>
                </li>
                <li class="liPrincipal">
                    Curiosidade: 
                    <div class="answers">
                        <p>{{item.curiosidade}}</p>
                    </div>
                </li>
                <li class="liPrincipal">
                    Hino nacional: <br>
                    {{item.hinoNacional}}
                </li>
            </ul>
        </section>
    </div>
</main>