<main class="container">
    <div class="infoImg">
        <section class="rightSide">
            <img src="../../../assets/flags/4x3/br.svg" alt="Bandeira do Brasil" width="520">
        </section>
        <section class="leftSide">
            <ul class="listaPrincipal">
                <li class="liPrincipal">
                    Nome: 
                    <div class="answers">Brasil</div>
                </li>
                <li class="liPrincipal">
                    Lema:
                    <div class="answers">Ordem e Progesso</div>
                </li>
                <li class="liPrincipal">
                    Capital:
                    <div class="answers">Brasilia</div>
                </li>
                <li class="liPrincipal">
                    Idioma:
                    <div class="answers">Português</div>
                </li>
                <li class="liPrincipal">
                    Continente:
                    <div class="answers">America do Sul</div>
                </li>
                <li class="liPrincipal">
                    Presidente:
                    <div class="answers">Luís Inacio Lula da Silva</div>
                </li>
                <li class="liPrincipal">
                    Vice-presidente:
                    <div class="answers">Geraldo Alckmin</div>
                </li>
                <li class="liPrincipal">
                    População:
                    <div class="answers">203.062.512 habitantes</div>
                </li>
                <li class="liPrincipal">
                    Independencia de qual país:
                    <div class="answers">Portugal</div>
                </li>
                <li class="liPrincipal">
                    Proclamação da Independência:
                    <div class="answers">7 de setembro de 1822 </div>
                </li>
                <li class="liPrincipal">
                    Quantidade de estados:
                    <div class="answers">26 estados</div>
                </li>
                <li class="liPrincipal">
                    Territorio:
                    <div class="answers"> 	8.510.417,771 km²</div>
                </li>
                <li class="liPrincipal">
                    Maior estado em territorio:
                    <div class="answers">Amazonas</div>
                </li>
                <li class="liPrincipal">
                    Menor estado em territorio:
                    <div class="answers">Sergipe</div>
                </li>
                <li class="liPrincipal">
                    Maior estado em população:
                    <div class="answers">São Paulo</div>
                </li>
                <li class="liPrincipal">
                    Menor estado em territorio:
                    <div class="answers">Roraima/RO</div>
                </li>
                <li class="liPrincipal">
                    Maior cidade em população:
                    <div class="answers">São Paulo/SP</div>
                </li>
                <li class="liPrincipal">
                    Maior cidade em territorio:
                    <div class="answers">Altamira/PA</div>
                </li>
                <li class="liPrincipal">
                    Fronteiras:
                    <ul>
                        <li><div class="answers">
                            Argentina, Bolívia, Colômbia, Guiana Francesa (França), Guiana, Paraguai, Peru, Suriname, Uruguai e Venezuela.
                        </div></li>
                    </ul>
                </li>
                <li class="liPrincipal">
                    Maravilhas do mundo:
                    <div class="answers">
                        Cristo Redentor <br>
                        <img src="../../../assets/cristoRedentor.jpg" alt="Cristo Redentor" width="150" class="maravilhasDoMundo">
                    </div>
                </li>
                <li class="liPrincipal">
                    Posição no raking nos maiores países do mundo:
                    <div class="answers">5º</div>
                </li>
                <li class="liPrincipal">
                    Curiosidade: 
                    <div class="answers">
                        <p>o Brasil é que o país possui a maior diversidade de espécies de plantas do mundo. Estima-se que existam cerca de 55 mil espécies de plantas no território brasileiro, o que representa aproximadamente 22% de todas as espécies conhecidas no planeta. Essa rica biodiversidade inclui a Floresta Amazônica, considerada a maior floresta tropical do mundo, que abriga inúmeras espécies de plantas únicas e ainda não descobertas pela ciência. Essa vasta variedade de plantas contribui para a importância do Brasil como um dos países mais importantes em termos de conservação da biodiversidade global.</p>
                    </div>
                </li>
                <li class="liPrincipal">
                    Hino nacional: <br>
                    <iframe width="380" src="https://www.youtube.com/embed/SyyOahYXhUQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </li>
            </ul>
        </section>
    </div>
</main>